@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@mixin tablet{
    @media(max-width: 992px){
        @content;
    }
}
@mixin mobile{
    @media(max-width: 767px){
        @content;
    }
}
@mixin laptop{
    @media(max-width: 1365px){
        @content;
    }
}
//KEYFRAMES FOR LOADING SCREEN
@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}
//LOADER
.loader-wrapper {
    //display: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    padding:0;
    margin:0;
}
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

//portfolio neon
@keyframes lightson{
    0%{
        text-shadow: 0 0 0px var(--black), 0 0 0px var(--black);
    }
    50%{
        text-shadow: 0 0 10px var(--black), 0 0 20px var(--black);
    }
    100%{
        text-shadow: 0 0 0px var(--black), 0 0 0px var(--black);
    }
}
@keyframes neontop{
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
@keyframes neonright{
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}
@keyframes neonbottom{
    0%{
        right: -100%;
    }
    100%{
        right: 100%;
    }
}
@keyframes neonleft{
    0%{
        bottom: -100%;
    }
    100%{
        bottom: 100%;
    }
}
@keyframes playground{
    0%, 100%{
        transform:scale(1.0);
        top: 0px;
    }
    50%{
        transform:scale(0.8);
        top: -3px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
    --background: #fbf5d4;
    --background2: #fbf5d4;
    --playground: #f6c453;
}
.dark{
    --black: #fff;
    --black2: #333;
    --white: #23272a;
    --white2: #333;
    --background: #23272a;
    --background2: #333;
    --playground: #01f9c6;
    .theme-switch::before{
        content: "\f185";
        font-family: "Font Awesome 5 Free";
    }
    .theme-switch::after{
        content: "Elegant Mode";
    }
    .navigation{
        border-right: 1px solid rgba(0,0,0,0.5);
        ul{
            li{
                a:hover{
                    text-shadow: 0 0 10px var(--black), 0 0 20px var(--black);
                }
            }
        }
    }
    h3{
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            text-shadow: 0 0 10px var(--black), 0 0 20px var(--black);
        }
    }
    .title{
        h2{
            cursor: pointer;
            transition: 0.5s;
            &:hover{
                text-shadow: 0 0 10px var(--black), 0 0 20px var(--black);
            }
        }
    }
    .main{
        .topbar{
            border-bottom: 1px solid rgba(0,0,0,0.5);
            .logo{
                animation: lightson 3s ease infinite;
            }
        }
    }
    p{
        color: var(--black);
    }
    .btn{
        overflow: hidden;
        span{
            &:nth-child(1){
                top: 0;
                left: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg, transparent, #01f9c6);
                animation: neontop 2s infinite;
            }
            &:nth-child(2){
                right: 0;
                top: -100%;
                height: 100%;
                width: 2px;
                background: linear-gradient(180deg, transparent, #01f9c6);
                animation: neonright 2s infinite 0.5s;
            }
            &:nth-child(3){
                bottom: 0;
                right: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(270deg, transparent, #01f9c6);
                animation: neonbottom 2s infinite 1s;
                
            }
            &:nth-child(4){
                left: 0;
                bottom: -100%;
                height: 100%;
                width: 2px;
                background: linear-gradient(0deg, transparent, #01f9c6);
                animation: neonleft 2s infinite 1.5s;
            }
        }
    }
    .btn:hover{
        background: #01f9c6;
        color: var(--white);
        box-shadow: 0 0 10px #01f9c6, 0 0 20px #01f9c6;
        transition: linear 0.5s;
    }
    section{
        a{
            position: relative;
            overflow: hidden;
            span{
                position: absolute;
                display: block;
            }
        }
        &.banner{
            .playground .block span:hover{
                text-shadow: 0 0 10px #01f9c6;
            }
        } 
        &.banner .content ul.social-media li{
            &:nth-child(1){
                a{
                    background: rgba(0, 0, 0, 0.7);
                    &:hover{
                        background: #0ff0fc;
                        box-shadow: 0 0 10px #0ff0fc, 0 0 20px #0ff0fc;
                        transition: linear 0.5s;
                        transition-delay: 0.7s;
                        span{
                            &:nth-child(1){
                                left: 100%;
                                transition: 0.3s;
                            }
                            &:nth-child(2){
                                top: 100%;
                                transition: 0.3s;
                                transition-delay: 0.15s;
                            }
                            &:nth-child(3){
                                right: 100%;
                                transition: 0.3s;
                                transition-delay: 0.3s;
                            }
                            &:nth-child(4){
                                bottom: 100%;
                                transition: 0.3s;
                                transition-delay: 0.45s;
                            }
                        }
                    }
                    span{
                        &:nth-child(1){
                            top: 0;
                            left: -100%;
                            width: 100%;
                            height: 2px;
                            background: linear-gradient(90deg, transparent, #0ff0fc);
                        }
                        &:nth-child(2){
                            right: 0;
                            top: -100%;
                            height: 100%;
                            width: 2px;
                            background: linear-gradient(180deg, transparent, #0ff0fc);
                        }
                        &:nth-child(3){
                            bottom: 0;
                            right: -100%;
                            width: 100%;
                            height: 2px;
                            background: linear-gradient(270deg, transparent, #0ff0fc);
                            
                        }
                        &:nth-child(4){
                            left: 0;
                            bottom: -100%;
                            height: 100%;
                            width: 2px;
                            background: linear-gradient(0deg, transparent, #0ff0fc);
                        }
                    }
                }
            }
            &:nth-child(2){
                a{
                    background: rgba(0, 0, 0, 0.7);
                    &:hover{
                        background: #bc13fe;
                        box-shadow: 0 0 10px #bc13fe, 0 0 20px #bc13fe;
                        transition: linear 0.5s;
                        transition-delay: 0.7s;
                        span{
                            &:nth-child(1){
                                left: 100%;
                                transition: 0.3s;
                            }
                            &:nth-child(2){
                                top: 100%;
                                transition: 0.3s;
                                transition-delay: 0.15s;
                            }
                            &:nth-child(3){
                                right: 100%;
                                transition: 0.3s;
                                transition-delay: 0.3s;
                            }
                            &:nth-child(4){
                                bottom: 100%;
                                transition: 0.3s;
                                transition-delay: 0.45s;
                            }
                        }
                    }
                    span{
                        &:nth-child(1){
                            top: 0;
                            left: -100%;
                            width: 100%;
                            height: 2px;
                            background: linear-gradient(90deg, transparent, #bc13fe);
                        }
                        &:nth-child(2){
                            right: 0;
                            top: -100%;
                            height: 100%;
                            width: 2px;
                            background: linear-gradient(180deg, transparent, #bc13fe);
                        }
                        &:nth-child(3){
                            bottom: 0;
                            right: -100%;
                            width: 100%;
                            height: 2px;
                            background: linear-gradient(270deg, transparent, #bc13fe);
                            
                        }
                        &:nth-child(4){
                            left: 0;
                            bottom: -100%;
                            height: 100%;
                            width: 2px;
                            background: linear-gradient(0deg, transparent, #bc13fe);
                        }
                    }
                }
            }
            &:nth-child(3){
                a{
                    background: rgba(0, 0, 0, 0.7);
                    &:hover{
                        background: #007ab9;
                        box-shadow: 0 0 10px #007ab9, 0 0 20px #007ab9;
                        transition: linear 0.5s;
                        transition-delay: 0.7s;
                        span{
                            &:nth-child(1){
                                left: 100%;
                                transition: 0.3s;
                            }
                            &:nth-child(2){
                                top: 100%;
                                transition: 0.3s;
                                transition-delay: 0.15s;
                            }
                            &:nth-child(3){
                                right: 100%;
                                transition: 0.3s;
                                transition-delay: 0.3s;
                            }
                            &:nth-child(4){
                                bottom: 100%;
                                transition: 0.3s;
                                transition-delay: 0.45s;
                            }
                        }
                    }
                    span{
                        &:nth-child(1){
                            top: 0;
                            left: -100%;
                            width: 100%;
                            height: 2px;
                            background: linear-gradient(90deg, transparent, #007ab9);
                        }
                        &:nth-child(2){
                            right: 0;
                            top: -100%;
                            height: 100%;
                            width: 2px;
                            background: linear-gradient(180deg, transparent, #007ab9);
                        }
                        &:nth-child(3){
                            bottom: 0;
                            right: -100%;
                            width: 100%;
                            height: 2px;
                            background: linear-gradient(270deg, transparent, #007ab9);
                            
                        }
                        &:nth-child(4){
                            left: 0;
                            bottom: -100%;
                            height: 100%;
                            width: 2px;
                            background: linear-gradient(0deg, transparent, #007ab9);
                        }
                    }
                }
            }
        }
        &.services .content .wrap{
            border: 1px solid rgba(0,0,0,0.5);
            position: relative;
            overflow: hidden;
            span{
                position: absolute;
            }
            &:nth-child(1){
                img{
                    filter: invert(1);
                }
                &:hover{
                    background: #fc8427;
                    box-shadow: 0 0 10px #fc8427, 0 0 20px #fc8427;
                    transition: linear 0.5s;
                    color: #333;
                    img{
                        filter: invert(0);
                    }
                    h2, p {
                        color: var(--black2);
                    }
                }
            }
            &:nth-child(2){
                &:hover{
                    background: #0ff0fc;
                    box-shadow: 0 0 10px #0ff0fc, 0 0 20px #0ff0fc;
                    transition: linear 0.5s;
                    color: #333;
                    img{
                        filter: invert(0);
                    }
                    h2, p {
                        color: var(--black2);
                    }
                }
                img{
                    filter: invert(1);
                }
            }
            &:nth-child(3){
                &:hover{
                    background: #8f00f1;
                    box-shadow: 0 0 10px #8f00f1, 0 0 20px #8f00f1;
                    transition: linear 0.5s;
                    color: #333;
                    img{
                        filter: invert(0);
                    }
                }
                img{
                    filter: invert(1);
                }
            }
            &:nth-child(4){
                &:hover{
                    background: #fffc00;
                    box-shadow: 0 0 10px #fffc00, 0 0 20px #fffc00;
                    transition: linear 0.5s;
                    color: #333;
                    img{
                        filter: invert(0);
                    }
                    h2, p {
                        color: var(--black2);
                    }
                }
                
                img{
                    filter: invert(1);
                }
            }
            &:nth-child(5){
                &:hover{
                    background: #6600ff;
                    box-shadow: 0 0 10px #6600ff, 0 0 20px #6600ff;
                    transition: linear 0.5s;
                    color: #333;
                    img{
                        filter: invert(1);
                    }
                }
            }
            &:nth-child(6){
                &:hover{
                    background: #55ffff;
                    box-shadow: 0 0 10px #55ffff, 0 0 20px #55ffff;
                    transition: linear 0.5s;
                    color: #333;
                    img{
                        filter: invert(1);
                    }
                    h2, p {
                        color: var(--black2);
                    }
                }
            }
        }
        &.contact .contact-form .row2 input[type="submit"]{
            background: rgba(0,0,0,0.7);
            color: white;
            &:hover{
                background: #01f9c6;
                box-shadow: 0 0 10px #01f9c6, 0 0 20px #01f9c6;
                transition: linear 0.5s;
                color: var(--white);
            }
        }
        &.projects .content .projects-wrap .text h3{
            color:rgba(0, 0, 0, 0.7);
        }
    }
    
}


h3{
    position: relative;
    font-size: 1.4em;
    color: var(--black);
    letter-spacing: 2px;
    text-transform: uppercase;
}
p{
    color: #777;
}
.btn{
    position: relative;
    display: inline-block;
    padding: 10px 40px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    text-decoration: none;
    transition: ease 0.3s;
    &:hover{
        background: var(--black2);
        color: #fff;
    }
}
.title{
    width: 100%;
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.2em;
        margin-bottom: 30px;
        color: var(--black);
        &:before{
            content: '';
            position: absolute;
            left: 50%;
            transform:translateX(-50%);
            bottom: -10px;
            width: 50px;
            height: 1px;
            background: var(--black);
        }
    }
}
.theme-switch{
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 40px;
    height: 40px;
    background: var(--black);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    &:before{
        content: "\f186";
        font-family: "Font Awesome 5 Free";
    }
    &:after{
        content: 'Neon Night Mode';
        position: absolute;
        left: 45px;
        font-size: 1em;
        color: var(--black);
        white-space: nowrap;
        font-weight: 300;
        letter-spacing: 1px;
        pointer-events: none;
    }
}
.navigation{
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.05);
    background:var(--background2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    transition: width ease 0.5s, left ease 0.5s;
    z-index: 2;
    @include laptop{
        z-index: 999;
        width: 0;
    }
    @include tablet{
        z-index: 2;
        width: 0;
        max-height: 100vh;
        left: -100%;
    }
    &.active{
        width: 0;
        @include laptop{
            width: 300px;
        }
        @include tablet{
            left: 0;
            width: 100%;
        }
    }
    ul{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 40px;
        li{
            position: relative;
            width: 100%;
            list-style: none;
            a{
                position: relative;
                display: block;
                width: 100%;
                margin: 10px 0;
                white-space: normal;
                display: flex;
                text-transform: uppercase;
                text-decoration: none;
                color: var(--black);
                font-weight: 500;
                letter-spacing: 2px;
                opacity: 0.5;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
.page-content{
    overflow-x: hidden;
    background: var(--background);
}
.main{
    padding-left: 300px;
    transition: width ease 0.5s, margin ease 0.5s, padding 0.5s;
    background: var(--background);
    @include laptop{
        padding-left: 0;
        width: 100%;
    }
    @include tablet{
        margin-left: 0;
    }
    &.active{
        width: 100%;
        padding-left: 0px; 
        @include tablet{
            margin-left: 100%;
        }
    }
    .topbar{
        position: fixed;
        top: 0;
        width: calc(100% - 300px);
        left: 300px;
        background: var(--background2);
        border-bottom: 1px solid rgba(0,0,0,0.05);
        height: 60px;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
        transition: width 0.5s, left 0.5s;
        @include laptop{
            left: 0;
            width: 100%;
        }
        @include tablet{
            left: 0;
            width: 100%;
        }
        &.active{
            width: calc(100% - 0px);
            left: 0px;
            @include laptop{
                left: 300px;
                width: calc(100% - 300px);
            }
            @include tablet{
                left: 0;
                width: 100%;
            }
        }
        .logo{
            color: var(--black);
            font-weight: 700;
            text-decoration: none;
            font-size: 1.4em;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        .toggle{
            position: relative;
            width: 60px;
            height: 60px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: var(--black);
        }
    }
}
.adjust{
    position: relative;
    width: 100%;
    padding: 0 40px;
    padding-top: 150px;
    padding-bottom: 150px;
    background: var(--white);
    display: inline-block;
    @include tablet{
        padding: 100px 40px;
    }
    @include mobile{
        min-height: 50vh;
    }
}
section{
    position: relative;
    @include mobile{
        min-height: 50vh;
    }
    &.banner{
        display: flex;
        background: var(--background);
        padding: 200px 0px;
        flex-wrap: wrap;
        @include tablet{
            padding: 100px 0px;
        }
        .playground{
            width: 49%;
            padding-left: 40px;
            padding-right: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include tablet{
                width: 100%;
            }
            .block{
                span{
                    position: relative;
                    font-size: 2.5vw;
                    font-weight: bold;
                    color: var(--black);
                    letter-spacing: -3px;
                    display:inline-block;
                    cursor: pointer;
                    transition: 1s;
                    user-select: none;
                    white-space: nowrap;
                    transform: scale(1);
                    @include tablet{
                        font-size: 5vw;
                    }
                    @include mobile{
                        letter-spacing: 0px;
                        font-size: 4vw;
                    }
                    &:hover{
                        color: var(--playground);
                        transform: scale(0.8);
                        transition: 0.1s transform, 0s color;
                    }
                    &.spacing{
                        letter-spacing: 2px;
                        padding: 0 5px;
                        @include tablet{
                            letter-spacing: 0px;
                            padding: 0 2px;
                        }
                    }
                }
            }
            p{
                @include tablet{
                    text-align: center;
                }
            }
        }
        .content{
            width: 49%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-top: 80px;
            @include tablet{
                width: 100%;
            }
            .img{
                position: relative;
                width: 400px;
                height: 400px;
                overflow: hidden;
                border-radius: 50%;
                margin-bottom: 50px;
                @include tablet{
                    width: 300px;
                    height: 300px;
                }
                @include mobile{
                    width: 200px;
                    height: 200px;
                }
                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    object-fit: cover;
                }
            }
            a{
                margin-bottom: 60px;
            }
            ul.social-media{
                display: flex;
                li{
                    list-style: none;
                    a{
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background: rgba(0,0,0,0.1);
                        margin: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: var(--black);
                        font-size: 1.2em;
                        &:hover{
                            background: var(--black2);
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    &.about{
        background: var(--background);
        .content{
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            @include mobile{
                flex-direction: column;
            }
            .textBox{
                width: 49%;
                min-width: 49%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include mobile{
                    width: 100%;
                    max-width: 100%;
                    text-align: justify;
                }
                .title{
                    padding-top: 30px;
                }
            }
            .img{
                margin-left: 40px;
                @include mobile{
                    margin-left: 0px;
                    padding-top: 20px;
                }
                img{
                    max-width: 100%;
                }
            }
        }
    }
    &.services{
        background: var(--background);
        .content{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 20px;
            margin: 40px 0;
            @include tablet{
                grid-template-columns: repeat(2,1fr);
            }
            @include mobile{
                grid-template-columns: repeat(1,1fr);
            }
            .wrap{
                border: 1px solid rgba(0,0,0,0.05);
                padding: 50px 20px;
                display: flex;
                background: var(--background);
                align-items: center;
                flex-direction: column;
                transition: all ease 0.5s;
                &:hover{
                    transition: all ease 0.5s;
                    background: rgba(0,0,0,0.5);
                    h2, p{
                        color: white;
                    }
                }
                img{
                    max-width: 100px;
                }
                h2{
                    font-size: 1.1em;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    font-weight: 600;
                    color: var(--black);
                    text-align: center;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
    &.projects{
        background: var(--background);
        .content{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-gap: 20px;
            margin: 40px 0;
            @include tablet{
                grid-template-columns: repeat(2,1fr);
            }
            @include mobile{
                grid-template-columns: repeat(1,1fr);
            }
            .projects-wrap{
                position: relative;
                width: 100%;
                height: 400px;
                overflow: hidden;
                &:hover{
                    .img{
                        transform: translateY(-100%);
                    }
                    .text{
                        transform: translateY(0);
                    }
                }
                .img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    transform: translateY(0);
                    transition: 0.5s ease-in-out;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .text{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: var(--black);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translateY(100%);
                    transition: 0.5s ease-in-out;
                    h3{
                        color: #fff;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    &.contact{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        background: var(--background);
        @include tablet{
            padding-top: 50px;
        }
        @include mobile{
            padding-bottom: 50px;
        }
        .contact-form{
            position: relative;
            width: 100%;
            max-width: 800px;
            margin-top: 20px;
            .row{
                width: 100%;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 20px;
                margin-top: 20px;
                @include mobile{
                    grid-template-columns: repeat(1,1fr);
                }
                input{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    outline: none;
                    color: var(--black);
                    background: var(--white2);
                    font-size: 16px;
                    border: 1px solid rgba(0,0,0,0.1);
                }
            }
            .row2{
                width: 100%;
                margin-top: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                textarea{
                    width: 100%;
                    padding: 10px;
                    border: none;
                    outline: none;
                    color: var(--black);
                    background: var(--white2);
                    font-size: 16px;
                    border: 1px solid rgba(0,0,0,0.1);
                    resize: none;
                    height: 200px;
                    @include mobile{
                        height: 400px;
                    }
                }
                input[type="submit"]{
                    background: var(--black2);
                    color: #fff;
                    padding: 10px 30px;
                    display: inline-block;
                    font-weight: 500;
                    letter-spacing: 2px;
                    cursor: pointer;
                    font-size: 16px;
                    text-transform: uppercase;
                    max-width: 150px;
                    border: none;
                    &:hover{
                        background: rgba(0,0,0,0.9);
                    }
                }
            }
        }
    }
}



